doctype
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Test Bootstrap
    link(href="/stylesheets/thirdpart/bootstrap.min.css" rel="stylesheet")
  body.container
    - for(var i = 0; i < 12; i++)
      .col-md-1 北风



    script(src="/javascripts/thirdpart/jquery-1.12.2.min.js")
    script(src="/javascripts/thirdpart/bootstrap.min.js")
